@font-face {
  font-family: 'Inter';
  src: url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');;
}

html, body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Inter';
  /* overflow-y: auto; */
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  overflow-y: auto;
  font-size: calc(10px + 2vmin);
}

.App-Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.containerTask {
  margin: 2px 8px;
  min-width: 550px;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

input[type='text'] {
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-family: 'Inter';
  background-color: #f3f3f3;
  min-width: 50%;
}

/* Estilos para telas com largura máxima de 800px */
@media (max-width: 800px) {
  .containerTitle {
    width: 15%;
  }
  .containerTask {
    min-width: 0px;
    width: 85vw;
  }
  .inputAddTask {
    width: 70%;
  }
}

.taskContent {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.todoTitle {
  margin-bottom: 40px;
}

.checked {
  text-decoration-line: line-through;
  text-decoration-color: gray;
  opacity: 0.7;
}



.containerTitle {
  width: 100%;
}

.containterAddTask {
  margin-bottom: 60px;
  width: 100%;
}

.firstDiv {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.containerActions {
  display: flex; 
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  margin-left: 10px;
}